table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;

}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Audio Player Styles */
audio {
  display: block;
  margin: 0 auto;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #008888;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #004400;
}

.pagination button.active {
  background-color: #f44336;
}

.pagination button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #004400;
}

/*  */
/*  */
/*  */
/*  */
/*  */



:root {
  --primary-color: #337ab7;
  /* Blue */
  --secondary-color: #5cb85c;
  /* Green */
  --background-color: #f5f5f5;
  /* Light Gray */
  --text-color: #333;
  /* Dark Gray */
}

/* Style the form */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 10px;
  min-width: 400px;
  padding: 20px;
  border-radius: 4px;

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the form rows */
.form-row label {
  font-weight: bold;
  margin-right: 10px;
  color: var(--primary-color);
}

.form-row input[type="date"] {
  width: 200px;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.form-row button {
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Style the form on hover */
.form:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-row button:hover {
  background-color: #4cae4c;
}

.total-time-btn {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Style the form on hover */
.form:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the form button on hover */
.form-row button:hover,
.total-time-btn:hover {
  background-color: #4cae4c;
  /* Darker Green */
}


.delete-button {
  background-color: #008888;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button:hover {
  background-color: #004400;
}

.edit-button {
  background-color: #444400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #440000;
}

/* Add the following CSS to style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
}

#modalForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}