.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

.nav-item {
  float: right;
}

.nav-link {
  display: block;
  color: #fff;
  text-align: center;
  padding: 16px 20px; 
  text-decoration: none;
}

.nav-link:hover {
  background-color: #555;
}