body{
  margin: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  display: flex; /* Add this line */
  justify-content: flex-end; /* Add this line */
}

/* .nav-item {
  float: right;
} */

.nav-link {
  display: block;
  color: #fff;
  text-align: center;
  padding: 16px 20px; 
  text-decoration: none;
  background-color: #333;
}

.nav-link:hover {
  background-color: #555;
}

#logoutTag{
  display: none;
}

#logoutTag:hover {
  cursor: pointer;
}