body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}


#textInputArea {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h3 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
}

#controls {
  margin-bottom: 20px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

#formats {
  margin-bottom: 10px;
}

#recordingsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#textdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#textinput {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#deleteButton {
  background-color: #f44336;
}

#submitButton {
  background-color: #4CAF50;
}

#container a {
  color: #008080; /* New color value */
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
}